@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the IUSD Staff Tracker</h1>
    <p>A web application that allows you to view, add, edit, and delete IUSD staff members and which are connected and stored within a SQL server database.</p>
</div>
